<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
</head>
<body>
    <h1>Show Details Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorem ex enim obcaecati ab iusto explicabo voluptate, similique libero eum officia autem maxime tempora reprehenderit tenetur, illum pariatur. Inventore praesentium sint commodi, facilis sequi consequatur asperiores magnam? Tenetur commodi quam assumenda eos labore reprehenderit impedit explicabo recusandae sequi. Libero dolorum sint aspernatur illum culpa nisi totam possimus suscipit esse, quam laborum ipsum a eligendi autem provident at quibusdam recusandae placeat, rem ratione atque sunt saepe? Porro quis laboriosam non ipsum nam alias quasi ullam dignissimos! Delectus provident, cupiditate quos laborum quaerat eligendi? Incidunt soluta laudantium, assumenda accusamus adipisci ratione. Eos.</p>
    <br>
    <br>
    <hr>
    {% comment %} <h1>name - {{ name }} id - {{ id }}</h1>
    <h3>Info : {{ info }}</h3> {% endcomment %}
    <h2> {{ yr }}</h2>

    {% comment %} <a href="{% url 'home' %}">Back to Home</a> {% endcomment %}
</body>
</html>