<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Details</title>
  </head>
  <body>
    <h1>Studnet Informations:</h1>
    {{ stu }}
    {% if stu %}
    <h3>Show Data</h3>
    {{ stu }}
    <table>
      <tr>
        <th>StuID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
      {% for st in stu %}
      <tr>
        <td>{{ st.student_id }}</td>
        <td>{{ st.student_name }}</td>
        <td>{{ st.student_email }}</td>
        <td>{{ st.student_password}}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h3>No Data</h3>
    {% endif %}
  </body>
</html>
