<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Your Profile</h1>
        <h3>Thanks for Login</h3>
        <h4>{{ name }}</h4>
        {% if messages %}
        
        {% for message in messages %}
        
        <small>{{ message }}</small>

        {% endfor %}

        {% endif %}
        <form action="{% url 'profile' %}" action="POST">
            {% csrf_token %}
            {% for fm in form %}
            
            {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags}} <br><br>

            {% endfor %}
            <input type="submit" value="Save Change">
        </form>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'forgotpass' %}">Forgot Password</a>
    </div>
</body>
</html>