{% extends 'blog/base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}

{% block content %}

<div class="col-sm-10 my-5">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fugiat hic optio inventore ipsum impedit quia totam. Ea cum nihil odio, unde nesciunt magnam? Ratione dolor mollitia quibusdam odio enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eum consequatur aperiam veritatis alias et, tempora sit laboriosam laborum esse, soluta quae, minus corporis dicta odit similique nihil molestias itaque!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui sit perspiciatis. Facilis perferendis quis eius iste excepturi sint ab fugiat alias sequi vero ratione quia nulla hic totam consectetur ex incidunt neque voluptatum animi quam, porro corrupti voluptatem. A quos, aut distinctio neque consequatur similique assumenda amet rerum esse?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero minima velit voluptas accusamus, commodi cumque esse ad animi, voluptates, dolor inventore earum hic nisi repudiandae doloremque dolorem aspernatur eum corporis magni quia. Sequi quibusdam porro itaque nam, quidem mollitia tempore sapiente aperiam reprehenderit explicabo officia. Quia consectetur omnis facilis. Eius?</p>
</div>

{% endblock content %}